
<div class="swiper-slide">
    <div class="slide product">

        <div class="product__picture">
            <img src="./img/popular/@@img" alt="">
        </div>
    
        <div class="product__desc">
            
            <div class="product__title">
                <span class="product__name">@@title</span>
                <span class="product__rating">(@@rating)</span>
            </div>
    
            <div class="product__price">
                <span class="product__price--text">Starts from</span> 
                <span class="dollar">$</span><span class="product__price--value">@@price</span>
            </div>
    
        </div>
    
    </div>
</div>